.a{
    width:450px;
    height: 40px;
    margin-left: 280px;
    text-align:center;
}
.game{
    width: 200px;
    height: 400px;
    background-color:#F2FAFF;
    border-left: 1px solid blue; 
    border-right: 1px solid blue; 
    border-bottom: 1px solid blue; 
    position: absolute;
    top: 60px;
    left: 350px;
}
.next{
    width: 80px;
    height: 80px;
    background-color: #F2FAFF;
    position: absolute;
    top: 60px;
    left: 600px;
    border: 1px solid blue;
}
.info{
    position: absolute;
    top: 150px;
    left: 600px;
}
.none, .current, .done {
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
}
.none{
    background-color: #F2FAFF;

}
.current{
    background-color: pink;
    border: 1px solid red;
}
.done{
    background-color: gray;
    border: 1px solid black;
}

